<nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed" [nzScroll]="{ x: '100%', y: '240px' }">
    <thead>
      <tr>
        <th nzLeft nzWidth="100px">Acciones</th>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
          {{ column.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of sortTable.data">
        <td nzLeft nzAlign="center">
          <div nz-row>
            <div nz-col nzSpan="1">
              <app-modal-partes></app-modal-partes>
            </div>
            <div nz-col nzSpan="1" nzOffset="1">
              <button nz-button nzType="primary" nzSize="small" nzDanger><i nz-icon nzTheme="outline" nzType="delete-row"></i></button>
            </div>
          </div>
        </td>
        <td>{{ data.id }}</td>
        <td>{{ data.nombre }}</td>
        <td>{{ data.tipoParte }}</td>
        <td>{{ data.capacidad }}</td>
        <td>{{ data.valor }}</td>
        <td>{{ data.tecno }}</td>
        <td>{{ data.descripcion }}</td>
        <td>{{ data.estado }}</td>
      </tr>
    </tbody>
  </nz-table>