<button nz-button nzType="primary" nzSize="small"><i nz-icon nzTheme="outline" nzType="edit" (click)="showModal()"></i></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Editar" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="validateForm" nzLayout="horizontal">
          <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>Nombre</nz-form-label>
                    <input nz-input formControlName="nombre" style="width: 470px;"/>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">
              <nz-form-item>
                  <nz-form-label>Tipo</nz-form-label>
                  <input nz-input formControlName="tipoParte" style="width: 470px;"/>
              </nz-form-item>
          </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Capacidad</nz-form-label>
                <input nz-input formControlName="capacidad" style="width: 470px;"/>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Valor</nz-form-label>
                <input nz-input formControlName="valor" style="width: 470px;"/>
            </nz-form-item>
        </div>
    </div>
            <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">
              <nz-form-item>
                  <nz-form-label>Tecnologia</nz-form-label>
                  <input nz-input formControlName="tecnologia" style="width: 470px;"/>
              </nz-form-item>
          </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Descripcion</nz-form-label>
                <input nz-input formControlName="descripcion" style="width: 470px;"/>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Estado</nz-form-label>
                <input nz-input formControlName="estado" style="width: 470px;"/>
            </nz-form-item>
        </div>
    </div>
        </form>    

    </ng-container>
</nz-modal>