<button nz-button nzType="primary" nzSize="small" (click)="showModal()"><i nz-icon nzTheme="outline" nzType="edit"></i></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Producto" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="validateForm" nzLayout="horizontal">
            <div nz-row>
                <label>Nombre</label>
                <div nz-col>
                    <input nz-input type="text" formControlName="nombre" style="width: 470px;">
                </div>
              </div>
              <br>
              <div nz-row>
                <label>Valor</label>
                <div nz-col>
                    <input nz-input type="text" formControlName="Valor" style="width: 470px;">
                </div>
              </div>
              <br>
              <div nz-row>
                  <label>Vida UItil</label>
                  <div nz-col>
                    <input nz-input type="text" formControlName="vidaUtil" style="width: 470px;">
                  </div>
              </div>
              <br> 
              <div nz-row>
                  <label>Año depreciado</label>
                  <div nz-col>
                    <input nz-input type="text" formControlName="anioDep" style="width: 470px;">
                  </div>
              </div>
              <br> 
              <div nz-row>
                  <label>Marca</label>
                  <div nz-col>
                    <input nz-input type="text" formControlName="marca" style="width: 470px;">
                  </div>
              </div>
              <br> 
              <div nz-row>
                  <label>Modelo</label>
                  <div nz-col>
                    <input nz-input type="text" formControlName="modelo" style="width: 470px;">
                  </div>
              </div>
              <br> 
              <div nz-row>
                  <label>Etiqueta de servicio</label>
                  <div nz-col>
                    <input nz-input type="text" formControlName="etiquetaServ" style="width: 470px;">
                  </div>
              </div>
            </form>    

        </ng-container>
    </nz-modal>
