<button nz-button nzType="primary" nzSize="small"><i nz-icon nzTheme="outline" nzType="edit" (click)="showModal()"></i></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Editar" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="validateForm" nzLayout="horizontal">
          <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>Nombre</nz-form-label>
                    <input nz-input formControlName="nombre" style="width: 470px;"/>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">
              <nz-form-item>
                  <nz-form-label>Valor</nz-form-label>
                  <input nz-input formControlName="valor" style="width: 470px;"/>
              </nz-form-item>
          </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Vida Util</nz-form-label>
                <input nz-input formControlName="vidaUtil" style="width: 470px;"/>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Valor Depreciado</nz-form-label>
                <input nz-input formControlName="valorDepreciado" style="width: 470px;"/>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
          <nz-form-item>
              <nz-form-label>Año Depreciados</nz-form-label>
              <input nz-input formControlName="anioDepreciados" style="width: 470px;"/>
          </nz-form-item>
      </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
        <nz-form-item>
            <nz-form-label>Marca</nz-form-label>
            <input nz-input formControlName="marca" style="width: 470px;"/>
        </nz-form-item>
    </div>
</div>
<div nz-row [nzGutter]="8">
  <div nz-col nzSpan="24">
      <nz-form-item>
          <nz-form-label>Modelo</nz-form-label>
          <input nz-input formControlName="modelo" style="width: 470px;"/>
      </nz-form-item>
  </div>
</div>
<div nz-row [nzGutter]="8">
  <div nz-col nzSpan="24">
      <nz-form-item>
          <nz-form-label>Etiqueta Servicio</nz-form-label>
          <input nz-input formControlName="etiquetaServ" style="width: 470px;"/>
      </nz-form-item>
  </div>
</div>
        </form>    

    </ng-container>
</nz-modal>