<div nz-row>
  <div nz-col nzSpan="24"><button nz-button nzType="primary"> Agregar </button></div>
</div>
<hr>  

<nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed" [nzScroll]="{ x: '100%', y: '240px' }">
    <thead>
      <tr>
        <th nzLeft nzWidth="100px">Acciones</th>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
          {{ column.title }}
    </thead>
    <tbody>
      <tr *ngFor="let data of sortTable.data">
        <td nzLeft nzAlign="center">
          <div nz-row>
            <div nz-col nzSpan="10">
              <app-modal-empleado></app-modal-empleado>
            </div>
            <div nz-col nzSpan="10" nzOffset="1">
              <button nz-button nzType="primary" nzSize="small" nzDanger><i nz-icon nzType="delete" nzTheme="outline"></i></button>
            </div>
          </div>
        </td>
        <td>{{ data.nombre }}</td>
        <td>{{ data.correo }}</td>
        <td>{{ data.telefono }}</td>
        <td>{{ data.estado }}</td>

      </tr>
    </tbody>
  </nz-table>

