<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="475px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Inventario IT</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Mantenimiento" nzIcon="info-circle" >
        <ul>
          <div nzMatchRouter [routerLink]="'mantenimiento/producto'">
            <li nz-menu-item >
              <a>Producto</a>
            </li>
          </div>
          <div nzMatchRouter [routerLink]="'mantenimiento/categoria'">
            <li nz-menu-item >
              <a>Categorias</a>
            </li>
          </div>
          <div nzMatchRouter [routerLink]="'mantenimiento/estado-producto'">
            <li nz-menu-item >
              <a>Estado del producto</a>
            </li>
          </div>
          <div nzMatchRouter [routerLink]="'mantenimiento/empleado'">
            <li nz-menu-item >
              <a>Empleados</a>
            </li>
          </div>
          <div nzMatchRouter [routerLink]="'mantenimiento/area'">
            <li nz-menu-item >
              <a>Area</a>
            </li>
          </div>
          <div nzMatchRouter [routerLink]="'mantenimiento/fabricante'">
            <li nz-menu-item >
              <a>Fabricante del producto</a>
            </li>
          </div>
          <div nzMatchRouter [routerLink]="'mantenimiento/garantia'">
            <li nz-menu-item >
              <a>Garantia</a>
            </li>
          </div>
          <div nzMatchRouter [routerLink]="'mantenimiento/solicitud'">
            <li nz-menu-item >
              <a>Solicitar una parte</a>
            </li>
              </div>
            </ul>
          </li>
          <li nz-submenu nzOpen nzTitle="Reportes" nzIcon="edit" >
            <ul>
              <div nzMatchRouter [routerLink]="'reportes/equipos-depart'">
                <li nz-menu-item >
                  <a>Equipos por Departamento</a>
                </li>
              </div>
              <div nzMatchRouter [routerLink]="'reportes/equipos-obsoletos'">
                <li nz-menu-item >
                  <a>Equipos Obsoletos</a>
                </li>
              </div>
              <div nzMatchRouter [routerLink]="'reportes/reporte-detallado'">
                <li nz-menu-item >
                  <a>Reporte Detallado</a>
                </li>
              </div>
            </ul>
          </li>
      </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
