<div nz-row>
  <div nz-col nzSpan="24"><button (click)="mostrar()" nz-button nzType="primary">Agregar</button></div>
</div>
<hr>

<nz-table #sortTable [nzData]="garantia" nzTableLayout="fixed" [nzScroll]="{ x: '100%', y: '240px' }">
    <thead>
      <tr>
        <th nzLeft nzWidth="100px">Acciones</th>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
          {{ column.title }}
    </thead>
    <tbody>
      <tr *ngFor="let data of sortTable.data">
        <td nzLeft nzAlign="center">
          <div nz-row>
            <div nz-col nzSpan="10">
              <td>
                <a (click)="mostrar(data)">
                <button nz-button nzType="primary" nzSize="small">
                <i nz-icon nzType="edit" nzTheme="outline"></i></button></a>
              </td> 
            </div>
            <div nz-col nzSpan="10" nzOffset="1">
              <a nz-popconfirm nzPopconfirmTitle="¿Está seguro de borrar el registro?" nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="eliminar(data.id)" (nzOnCancel)="cancel()" nzShape="circle" nzCancelText="No" nzOkText="Si">
              <button nz-button nzType="primary" nzSize="small" nzDanger>
              <i nz-icon nzType="close" nzTheme="outline"></i></button></a>
            </div>
          </div>
        </td>
        <td>{{ data.id }}</td>
        <td>{{ data.fecha | date }}</td>
        <td>{{ data.porcentaje }}</td>
        <td>{{ data.observacion }}</td>
        <td>{{ data.descripcion }}</td>
        <td>{{ data.cuota }}</td>
        <td>
          <div *ngIf="data.estado"><i nz-icon nzType="check-circle" nzTheme="outline"></i></div>
        </td>
      </tr>
    </tbody>
  </nz-table>


<!--   Agregar Nueva Garantia   -->
  <nz-modal [(nzVisible)]="visible" nzTitle="Nueva Garantia">
    <ng-container *nzModalContent>
      <form nz-form nzLayout="vertical" (ngSubmit)="guardar()" [formGroup]="formGarantia">
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="8">
              <nz-form-item>
                  <nz-form-label>Fecha</nz-form-label>
                  <nz-form-control  nzErrorTip="Por favor escriba el dato correcto!">
                      <nz-date-picker formControlName="fecha" nzPlaceHolder="Seleccione Fecha"></nz-date-picker>
                  </nz-form-control>
              </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label>Porcentaje</nz-form-label>
              <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input formControlName="porcentaje" nz-input/>
              </nz-form-control>
            </nz-form-item>
          </div>
          
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label>Cuota</nz-form-label>
              <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input formControlName="cuota" nz-input/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label>Observacion</nz-form-label>
              <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input formControlName="observacion" nz-input/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label>Descripcion</nz-form-label>
              <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input formControlName="descripcion" nz-input/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
          <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label>Estado</nz-form-label>
              <nz-form-control nzErrorTip="Por favor seleccione el dato correcto!">
                <nz-radio-group formControlName="estado">
                  <label nz-radio nzValue="true">Activo</label>
                  <label nz-radio nzValue="false">Inactivo</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

      </form>
    </ng-container>

    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="ocultar()">Cancelar</button>
      <button nz-button nzType="primary" (click)="guardar()">Guardar</button>
    </div>
  </nz-modal>